</main>
<footer>
    <p>	&copy;2022 Shivprasad Babu</p>
</footer>
<script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
<script type="application/javascript" src= "/js/main.js"></script>
</body>
</html>