<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Read</title>
    <link rel="icon" type="image/x-icon" href="./assets/Food-Read-Icon.png">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<header>
    <span class="logo-block">
        <img src="/assets/Food-Read-Icon.png" class="main-logo" title="Food Read Logo"/>
        Food Read
    </span> 
    <a href="/login" class="login-btn">Login</a>
</header>
<main class="main">
