<nav class="primary-nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li class="has-submenu">
            Pages
            <ul class="sub-menu">
                <li><a href="/posts/:id">Slug Name</a></li>
            </ul>
        </li>
    </ul>
</nav>