<%- include('layouts/header') -%>
<%- include('layouts/nav') %>
<section class="page-not-found">
    <div>
        <img src="/assets/posts/404-page-error.png"/>
    </div>
</section>
<%- include('layouts/footer') %> 